.cart-page{

    padding:40px;

}

.cart-page h1{

    text-align:center;

    margin-bottom:40px;

}

.cart-item{

    display:flex;

    align-items:center;

    gap:20px;

    border-bottom:1px solid #ddd;

    padding:20px 0;

}

.cart-item img{

    width:120px;

    height:120px;

    object-fit:cover;

    border-radius:8px;

}

.cart-info{

    flex:1;

}

.quantity{

    display:flex;

    align-items:center;

    gap:15px;

}

.quantity button{

    width:35px;

    height:35px;

    font-size:18px;

}

.remove-btn{

    background:red;

    color:white;

    border:none;

    padding:10px 15px;

    cursor:pointer;

    border-radius:5px;

}

.cart-summary{

    margin-top:40px;

    text-align:right;

}

.cart-summary button{

    background:#4CAF50;

    color:white;

    border:none;

    padding:12px 20px;

    cursor:pointer;

    border-radius:6px;

}