.manage-orders{

    padding:40px;

}

.manage-orders h1{

    text-align:center;

    margin-bottom:30px;

}

table{

    width:100%;

    border-collapse:collapse;

}

th,
td{

    border:1px solid #ddd;

    padding:12px;

    text-align:center;

}

th{

    background:#f4f4f4;

}

select{

    padding:8px;

}